@media screen and (max-width: 770px) {
  body {
    padding: 0.5em 0.5em;
    background: linear-gradient(#383838, #ffffff 35%) no-repeat;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  #img-white-background {
    display: none;
  }

  #img-white-background2 {
    display: block;
  }

  #gray-background {
    display: none;
  }

  #white-decor1 {
    display: none;
  }

  #white-decor2 {
    display: none;
  }

  #white-decor1-phone {
    display: block;
    width: 15%;
  }

  #white-decor2-phone {
    display: block;
    width: 20%;
  }

  #img-blue-ellipse {
    display: none;
  }

  #img-blue-ellipse2 {
    display: block;
  }

  #img-features-blue-ellipse {
    display: none;
  }

  #menuBtn {
    display: block;
    width: 10%;
  }

  #logo {
    display: inline;
    width: 20%;
  }

  #logo2 {
    display: none;
  }

  .title-container {
    margin-bottom: 50px;
  }

  .main-article {
    margin-bottom: 70px;
  }

  .application-button,
  nav {
    display: none;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation ul a {
    color: #000;
  }

  .info {
    flex-direction: column;
  }

  .main-info {
    width: 100%;
  }

  #header-main-image {
    width: 40%;
    margin-right: auto;
    margin-bottom: 4em;
  }

  #more-details {
    display: none;
  }

  #more-details-outer {
    display: inline-block;
  }

  #more-details-outer {
    border-radius: 50px;
    background-color: #47a4b5;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 30px;
    text-align: center;
  }

  .mission {
    font-size: 20px;
  }

  .feature-name > h3 {
    font-size: 16px;
  }

  .feature > img {
    padding-right: 0.5em;
  }

  .features > p {
    width: 95%;
    font-size: 30px;
    line-height: normal;
  }

  .feature-description {
    font-size: 14px;
  }

  #technology-hr {
    display: none;
  }

  #technology-inner-container {
    width: 90%;
    height: 180%;
    object-fit: cover;
  }

  #tuyere-inner {
    display: block;
    width: 60%;
    margin-top: 8em;
  }

  #tuyere {
    display: none;
  }

  .example-of-work {
    width: 100%;
  }

  .example-of-work > p {
    border-bottom: none;
  }

  .examples-of-work {
    flex-direction: column;
  }

  .example-of-work-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .example-of-work-number {
    font-size: 30px;
  }

  .example-of-work-numbers > .description {
    font-size: 18px;
  }

  .example-of-work-numbers > p {
    text-align: center;
  }

  #examples-of-work-blue-ellipse {
    display: none;
  }

  #grey-wavy-lines {
    display: none;
  }

  #plazm {
    margin-bottom: 7em;
  }

  .equipments {
    margin-bottom: 10em;
  }

  .equipment {
    width: 100%;
  }

  .full-equipment {
    flex-direction: column;
    height: auto;
  }

  .equipment-characteristics div {
    margin-top: 3%;
    margin-bottom: 1%;
  }

  .features > ul {
    margin: 0;
    padding: 0;
  }

  .feature {
    width: 100%;
  }

  #tuyere {
    width: 95%;
  }

  #blue-ladder-line {
    width: 65%;
  }

  .price-elements {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .price-element {
    margin-bottom: 2em;
    width: 8em;
    height: 8em;
  }

  .price-element p {
    font-size: 1.2em;
  }

  #advantages-gray-ellipse {
    display: none;
  }

  .reasons {
    display: none;
  }

  .reasons-phones {
    display: block;
  }

  .reason-phones {
    display: none;
    width: 100%;
    height: 15em;
  }

  .reason-inner h3 {
    font-size: 30px;
    line-height: normal;
  }

  .reason-inner {
    margin-left: auto;
    width: 100%;
  }

  .active-reason-phone {
    display: block;
    animation: fadeImg 0.8s;
  }

  .arrows-phones {
    display: flex;
    justify-content: center;
    margin-top: 5em;
  }

  .arrows {
    display: none;
  }

  .customers-logos > img {
    width: 50%;
  }

  .communication {
    flex-direction: column;
  }

  .full-application {
    width: 95%;
  }

  #decor-lines {
    display: none;
  }

  #decor-lines2 {
    display: block;
    width: 50%;
  }

  footer {
    width: 100%;
  }

  .contacts {
    line-height: 300%;
  }

  footer {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  /* менять gray background 2, когда ширина меньше 500 норм, когда между 500 и 770 слишком высокая */

  .reason-phones {
    height: 25em;
  }

  .example-of-work-number {
    font-size: 30px;
  }

  .example-of-work-numbers > .description {
    font-size: 14px;
  }

  #tuyere-inner {
    margin-top: 4em;
  }
}
