@media screen and (max-width: 1800px) {
  .feature {
    width: 30em;
  }
}

@media screen and (max-width: 1450px) {
  body {
    padding: 1em 2em;
  }

  #img-white-background {
    display: none;
  }

  .navigation ul li {
    margin-bottom: 0.5em;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .main-info > h1 {
    color: #ffffff;
  }

  .main-info > p {
    color: #ffffff;
  }

  .navigation ul a {
    color: #ffffff;
  }

  #logo {
    display: none;
  }

  #logo2 {
    display: inline;
  }

  #gray-background2 {
    display: none;
  }

  .application-button > a {
    margin: 0px 1em 0px 1em;
  }

  #characteristics-inner li {
    margin-bottom: 0;
  }

  #characteristics-inner li p {
    margin-bottom: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .price-elements {
    display: grid;
    justify-items: center;
  }

  #first {
    grid-column: 1;
    grid-row: 1;
  }

  #second {
    grid-column: 2;
    grid-row: 2;
  }

  #third {
    grid-column: 1;
    grid-row: 3;
  }

  #fourth {
    grid-column: 2;
    grid-row: 4;
  }

  #plazm {
    width: 20em;
  }

  .full-equipment {
    height: 25rem;
  }

  .equipment-name {
    font-size: 28px;
  }

  #equipment-inners p {
    font-size: 17px;
  }

  #gray-background {
    width: 80%;
  }

  .example-of-work-image {
    margin-left: 2em;
  }

  .features-container {
    flex-direction: column;
  }

  .several-features:first-child {
    margin-right: 0;
  }

  .several-features:last-child {
    margin-left: 0;
  }

  .customers-logos {
    flex-direction: column;
  }

  .customer-logo {
    padding: 2em 0;
  }

  #customer-logo-center {
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
  }

  #first-logo {
    border-right: none;
  }

  #third-logo {
    border-left: none;
  }

  .application-button > a {
    padding: 0.5em 1em;
  }

  footer {
    width: 50%;
  }
}

@media screen and (max-width: 1065px) {
  #white-decor1 {
    display: none;
  }

  #logo2 {
    width: 20%;
  }

  #gray-background2 {
    display: none;
  }

  nav {
    max-width: 40%;
  }

  .navigation ul {
    flex-direction: column;
  }

  .navigation ul li {
    margin-bottom: 0.5em;
  }

  .navigation ul a {
    font-size: 20px;
  }

  .navigation ul a:hover {
    transition: font-size 0.5s ease-in-out;
    font-size: 25px;
    border-bottom: 1px solid #ffffff;
  }

  #technology-outer {
    display: none;
  }

  #technology-inner {
    display: inline-block;
  }

  .about-technology-content-text {
    width: 90%;
    align-items: center;
  }

  .about-technology-content-text img {
    margin: 1em 0;
    width: 100%;
  }

  .example-of-work-image {
    margin-left: 0;
  }

  .example-of-work-numbers {
    width: 50%;
  }

  #plazm {
    width: 15em;
    height: 15em;
  }

  .full-equipment {
    height: 15rem;
  }

  .equipment-name {
    font-size: 30px;
  }

  #equipment-inners p {
    font-size: 15px;
  }

  .equipment-characteristics {
    height: 2em;
  }

  .reason {
    width: 100%;
  }

  .reason-inner {
    width: 80%;
  }

  .reason-inner > h3 {
    margin-bottom: 1em;
  }
}
