@media screen and (max-width: 1450px) {
  .price-elements {
    display: flex;
    flex-direction: column;
  }

  .customers-logos {
    flex-direction: column;
  }

  #img-white-background {
    display: none;
  }

  .main-info > h1 {
    color: #ffffff;
  }

  .main-info > p {
    color: #ffffff;
  }

  .navigation ul a {
    color: #ffffff;
  }

  .application-button > a {
    padding: 0.5em 1em;
  }

  #plazm {
    width: 10em;
    height: 10em;
  }

  .full-equipment {
    height: 25rem;
  }
}

@media screen and (max-width: 1065px) {
  .example-of-work-image{
    margin-left: 0;
  }

  .example-of-work-numbers{
    width: 50%;
  }
}

@media screen and (max-width: 770px) {

}
