@media screen and (max-width: 1450px) {
  .price-elements {
    display: grid;
    justify-items: center;
  }

  #first {
    grid-column: 1;
    grid-row: 1;
  }

  #second {
    grid-column: 2;
    grid-row: 2;
  }

  #third {
    grid-column: 1;
    grid-row: 3;
  }

  #fourth {
    grid-column: 2;
    grid-row: 4;
  }

  .customers-logos {
    flex-direction: column;
  }

  .customer-logo {
    padding: 1em 0;
  }

  #customer-logo-center {
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
  }

  #first-logo {
    border-right: none;
  }

  #third-logo {
    border-left: none;
  }

  #img-white-background {
    display: none;
  }

  .main-info > h1 {
    color: #ffffff;
  }

  .main-info > p {
    color: #ffffff;
  }

  .navigation ul a {
    color: #ffffff;
  }

  .application-button > a {
    padding: 0.5em 1em;
  }

  #plazm {
    width: 10em;
    height: 10em;
  }

  .full-equipment {
    height: 25rem;
  }
}

@media screen and (max-width: 1065px) {
  .example-of-work-image {
    margin-left: 0;
  }

  .example-of-work-numbers {
    width: 50%;
  }
}

@media screen and (max-width: 770px) {
}
