@media screen and (max-width: 770px) {
  body {
    padding: 0.5em 0.5em;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 22px;
  }

  #gray-background {
    display: none;
  }

  #white-decor1 {
    display: none;
  }

  #white-decor2 {
    display: none;
  }

  #white-decor1-phone {
    display: block;
    width: 15%;
  }

  #white-decor2-phone {
    display: block;
    width: 20%;
  }

  .info {
    flex-direction: column;
  }

  .main-info {
    width: 100%;
  }

  #header-main-image {
    width: 40%;
    margin-right: auto;
    margin-bottom: 4em;
  }

  #more-details {
    display: none;
  }

  #more-details-outer {
    display: inline-block;
  }

  #more-details-outer {
    border-radius: 50px;
    background-color: #47a4b5;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 30px;
    text-align: center;
  }
  
  .features > p {
    width: 95%;
  }

  .examples-of-work {
    flex-direction: column;
  }

  .full-equipment {
    flex-direction: column;
  }

  .features > ul {
    margin: 0;
    padding: 0;
  }

  .feature {
    width: 100%;
  }

  .price-elements {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .price-element {
    margin-bottom: 3em;
  }
}
