@media screen and (max-width: 770px) {
  body {
    padding: 0.5em 0.5em;
    background: linear-gradient(#383838, #ffffff 35%) no-repeat;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  #gray-background {
    display: none;
  }

  #white-decor1 {
    display: none;
  }

  #white-decor2 {
    display: none;
  }

  #white-decor1-phone {
    display: block;
    width: 15%;
  }

  #white-decor2-phone {
    display: block;
    width: 20%;
  }

  #img-blue-ellipse {
    display: none;
  }

  #img-blue-ellipse2 {
    display: block;
  }

  #img-features-blue-ellipse {
    display: none;
  }

  .info {
    flex-direction: column;
  }

  .main-info {
    width: 100%;
  }

  #header-main-image {
    width: 40%;
    margin-right: auto;
    margin-bottom: 4em;
  }

  #more-details {
    display: none;
  }

  #more-details-outer {
    display: inline-block;
  }

  #more-details-outer {
    border-radius: 50px;
    background-color: #47a4b5;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 30px;
    text-align: center;
  }

  .feature-name > h3 {
    font-size: 14px;
  }

  .feature > img {
    padding-right: 0.5em;
  }

  .features > p {
    width: 95%;
  }

  #tuyere-inner {
    display: block;
  }

  #tuyere {
    display: none;
  }

  .example-of-work{
    width: 100%;
  }

  .example-of-work > p {
    border-bottom: none;
  }

  .examples-of-work {
    flex-direction: column;
  }

  #examples-of-work-blue-ellipse {
    display: none;
  }

  #grey-wavy-lines {
    display: none;
  }

  .full-equipment {
    flex-direction: column;
  }

  .features > ul {
    margin: 0;
    padding: 0;
  }

  .feature {
    width: 100%;
  }

  #tuyere {
    width: 95%;
  }

  #blue-ladder-line {
    width: 95%;
  }

  .price-elements {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .price-element {
    margin-bottom: 3em;
    width: 8em;
    height: 8em;
  }

  .price-element p {
    font-size: 22px;
  }

  #advantages-gray-ellipse {
    display: none;
  }

  .customers-logos > img{
    width: 50%;
  }

  .communication {
    flex-direction: column;
  }

  .full-application {
    width: 95%;
  }

  #decor-lines {
    display: none;
  }

  #decor-lines2 {
    display: block;
    width: 15%;
  }

  footer {
    width: 100%;
  }
}
