/* https://www.youtube.com/watch?v=QKuMr575vlQ */
@font-face {
  font-family: "Opinion Pro";
  src: url("fonts/@font-face/e9fbd19ace1c6ff2ff95b701602e32d2.eot"); /* IE9*/
  src: url("fonts/@font-face/e9fbd19ace1c6ff2ff95b701602e32d2.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/@font-face/e9fbd19ace1c6ff2ff95b701602e32d2.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("fonts/@font-face/e9fbd19ace1c6ff2ff95b701602e32d2.woff")
      format("woff"),
    /* chrome、firefox */
      url("fonts/@font-face/e9fbd19ace1c6ff2ff95b701602e32d2.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("fonts/@font-face/e9fbd19ace1c6ff2ff95b701602e32d2.svg#Opinion Pro")
      format("svg"); /* iOS 4.1- */
}

* {
  margin: 0;
  color: black;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background: linear-gradient(#383838, #ffffff 45%) no-repeat;
  padding: 1em 5em;
}

h1 {
  font-size: 70px;
}

h2 {
  font-family: "Opinion Pro", sans-serif;
  font-weight: 350;
  font-size: 36px;
}

ul {
  list-style: none;
}

.description {
  color: #383838;
}

.description > p {
  color: #383838;
}

/*MAIN*/
.modal {
  display: none;
}

#gray-background2 {
  display: none;
}

.title-container {
  margin-bottom: 100px;
}

.main-article {
  opacity: 0;
  animation: ani 2.5s forwards;
  margin-bottom: 200px;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#menuBtn{
  display: none;
}

nav {
  max-width: 60%;
}

.navigation {
  display: flex;
  margin-bottom: 95px;
  align-items: center;
  justify-content: space-around;
}

.navigation ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul a {
  text-decoration: none;
  color: black;
  margin: 0 25px;
  font-size: 15px;
}

.navigation ul a:hover {
  transition: font-size 0.5s ease-in-out;
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
}

#logo2 {
  display: none;
}

.application-button > a {
  text-decoration: none;
  color: #ffffff;
  margin: 0px 1em 0px 7em;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 0.8em 4.5em;
  font-size: 15px;
}

#application-btn:hover {
  border-width: 3px;
  transition: border-width 0.2s ease-in-out;
  box-shadow: 0 0 5px #ffffff;
}

.info {
  display: flex;
  align-items: top;
  justify-content: space-around;
  margin-bottom: 10%;
}

.main-info {
  width: 40%;
}

#img-blue-ellipse {
  position: absolute;
  top: 2%;
  right: 0;
  width: 40%;
}

#img-blue-ellipse2 {
  display: none;
}

#img-features-blue-ellipse {
  display: block;
}

#img-features-blue-ellipse2 {
  display: none;
}

#white-decor1-phone {
  display: none;
}

#white-decor2-phone {
  display: none;
}

#header-main-image {
  margin-left: auto;
  display: block;
  margin-right: 10%;
  width: 70%;
}

#more-details-outer {
  display: none;
}

.mission {
  font-family: "Opinion Pro", sans-serif;
  font-size: 30px;
  font-weight: 350;
  margin: 50px 0;
}

#more-details {
  border-radius: 50px;
  background-color: #47a4b5;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
}

#more-details:hover {
  border: 3px solid #4db2c4;
  transition: border 0.2s ease-in-out;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /*background: linear-gradient(#727171, #c3c3c3);*/
}

.features > p {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 350;
  font-size: 40px;
  line-height: 50px;
  flex-basis: 30%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  width: 50%;
  height: 50%;
  margin-bottom: 1em;
  /*
  padding: 10em 50px;
  */
}

.features > ul {
  flex-basis: 70%;
}

.features-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.plus {
  margin-right: 1em;
  margin-left: auto;
  font-size: 25px;
  cursor: pointer;
}

.about-feature {
  width: 100%;
}

.several-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.several-features:first-child {
  margin-right: 5em;
}

.several-features:last-child {
  margin-left: 5em;
}

.feature {
  display: flex;
  border-bottom: 1px solid #181818;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  width: 35em;
  justify-content: end;
  max-height: 200px;
}

.feature > img {
  width: 20%;
  padding-right: 50px;
}

.feature-name {
  display: flex;
  margin-bottom: 0.5em;
}

.feature-name > h3 {
  font-size: 25px;
}

.feature:first-of-type {
  border-top: 1px solid #181818;
}

.hidden {
  display: none;
}

#technology-inner {
  display: none;
}

#technology-hr {
  display: block;
}

#about-technology-title {
  background: url("images/about-technology/white-border-text.svg") no-repeat;
  padding: 30px;
  padding-left: 60px;
  background-size: 100% 100%;
  background-position-x: 10%;
  display: inline;
}

.about-technology {
  padding-top: 15%;
}

.about-technology-content {
  display: flex;
  justify-content: space-evenly;
}

.about-technology-content > p {
  width: 40%;
}

.about-technology-content-text {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.about-technology-content-text > hr {
  margin: 1em 0;
}

#tuyere-inner {
  display: none;
}

.examples-of-work {
  display: flex;
  justify-content: center;
}

.margin-top-for-examples {
  margin-top: 14%;
}

.example-of-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.example-of-work > p {
  padding-bottom: 1%;
  border-bottom: 2px solid #47a4b5;
}

.example-of-work-advantages {
  display: flex;
  justify-content: space-around;
  flex: 50px;
  padding-top: 2%;
}

.example-of-work-numbers {
  width: 30%;
}

.example-of-work-number {
  font-family: "Opinion Pro", sans-serif;
  font-size: 40px;
}

.example-of-work-image {
  margin-left: 5em;
}

#pricing-title {
  background: url("images/pricing/blue-border-text.svg") no-repeat;
  padding: 30px;
  padding-left: 60px;
  background-size: 100% 100%;
  display: inline;
}

.price-element {
  border-radius: 50%;
  background-color: #47a4b5;
  width: 14em;
  height: 14em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 20px #47a4b5;
}

.price-element p {
  color: #ffffff;
  font-family: "Opinion Pro", sans-serif;
  font-weight: 350;
  font-size: 40px;
}

.price-elements {
  display: grid;
  justify-items: center;
}

#first {
  grid-column: 1;
  grid-row: 1;
}

#second {
  grid-column: 2;
  grid-row: 2;
}

#third {
  grid-column: 3;
  grid-row: 1;
}

#fourth {
  grid-column: 4;
  grid-row: 2;
}

#equipments-title {
  background: url("images/equipment/blue-border-text.svg") no-repeat;
  padding: 30px;
  padding-left: 60px;
  background-size: 100% 100%;
  background-position-x: 10%;
  display: inline;
}

.full-equipment {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 50rem;
}

.equipment {
  display: flex;
  flex-direction: column;
}

.equipment h3 {
  color: #ffffff;
}

.equipment p {
  color: #000;
}

.equipment-name {
  font-size: 40px;
}

.equipment-description {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.equipment-characteristics {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.equipment-characteristics div {
  border-bottom: 1px solid #adadad;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.equipment-characteristics p {
  text-align: center;
  color: #adadad;
}

#characteristics-inner li {
  margin-bottom: 0.5em;
}

#characteristics-inner p {
  font-weight: 400;
}

.active {
  border-bottom: 3px solid #47a4b5 !important;
  transition: border-bottom 0.3s ease-in-out;
}

.active > p {
  color: #ffffff;
}

.advantages {
  margin-top: 20%;
}

#advantages-title {
  background: url("images/advantages/blue-border-text.svg") no-repeat;
  padding: 30px;
  padding-left: 60px;
  background-size: 100% 100%;
  background-position-x: 10%;
  display: inline;
}

.reason {
  display: none;
  width: 80%;
  height: 25em;
}

.reason-inner {
  margin-left: auto;
  width: 70%;
}

.reason-inner h3 {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 350;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 1.5em;
}

.reason-inner p {
  font-size: 24px;
  margin-right: 10%;
}

.arrows {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.arrow {
  border-radius: 50%;
}

.arrow:hover {
  transition: border-width 0.3s ease-in-out;
  box-shadow: 0 0 5px #383838;
}

.warranties {
  display: flex;
}

.warranty {
  flex: 1;
}

#customers-title {
  background: url("images/customers/blue-border-text.svg") no-repeat;
  padding: 30px;
  padding-left: 60px;
  background-size: 100% 100%;
  background-position-x: 10%;
  display: inline;
}

.customers-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-logo {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #909090;
  padding-right: 32px;
}

#third-logo {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #909090;
  padding-left: 32px;
}

#customer-logo-center {
  border: none;
  margin: 0px 32px;
}

/*
.customer-logo {
  width: 300px;
  margin: 0px 64px;
}

#customer-logo-center {
  display: inline-block;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  margin: 0px 18px;
  height: 100%;
}
*/

.application > h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.application > p {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.application p {
  color: #909090;
  border-bottom: 1px solid #909090;
  width: 26.25vw;
  padding-bottom: 13px;
  font-size: 11px;
  margin-top: 34px;
}

.full-application {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 60px;
  margin-bottom: 20px;
}

.communication {
  display: flex;
}

form label {
  display: inline;
  color: #909090;
  font-size: 11px;
}

.form-item {
  border-bottom: 1px solid #909090;
  width: 26.25vw;
  padding-bottom: 13px;
  margin-top: 34px;
}

.send-application {
  margin-top: 40px;
}

.send-application a {
  color: #ffffff;
  background-color: #383838;
  padding: 19px 115px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 40px;
}

.contacts {
  font-size: 18px;
}

/*SLIDER*/
.active-reason {
  display: block;
  animation: fadeImg 0.8s;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
