* {
  margin: 0;
  color: black;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

#example{
  padding: 30px;
  background: url("images/pricing/blue-border-text.svg") no-repeat;
  background-size: 100% 100%;
  background-position-x: 10%;
}

ul {
  list-style: none;
}

.description {
  color: #383838;
}

.description > p {
  color: #383838;
}

.description > a {
  color: #383838;
}

/*MAIN*/
.navigation {
  display: flex;
  margin-bottom: 95px;
}

.navigation ul {
  display: flex;
}

.navigation ul a {
  text-decoration: none;
  color: black;
  margin: 0 25px;
}

.navigation nav > a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 25px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 68px;
}

.title {
  background: linear-gradient(#383838, #727171);
}

.info{
  display: flex;
}

#more-details {
  border-radius: 50px;
  background-color: #47a4b5;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 23px;
}

.features {
  display: flex;
  align-items: center;
  background: linear-gradient(#727171, #c3c3c3);
  padding-top: 10%;
  padding-bottom: 5%;
}

.features > p {
  display: inline;
  /*
  background: radial-gradient(
    circle at center,
    rgb(71, 164, 181, 0.3) 0%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 22.5%;
  height: 50%;
  padding: 10em 50px;
  */
  background-image: url("images/features/blue-circle.svg");
}

.plus {
  margin-right: 70px;
  margin-left: auto;
}

.feature {
  display: flex;
  border-bottom: 1px solid #181818;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feature > img {
  width: 8.125%;
}

.feature-name {
  display: flex;
}

.feature:first-of-type {
  border-top: 1px solid #181818;
}

.about-technology {
  background: linear-gradient(#c3c3c3, #ffffff);
}

.about-technology-content {
  display: flex;
}

.examples-of-work {
  display: flex;
}

.example-of-work {
  display: flex;
  flex-direction: column;
}

.example-of-work > p {
  padding-bottom: 1%;
}

.example-of-work-numbers {
  display: flex;
  border-top: 2px solid #47a4b5;
  width: 35.625%;
  padding-top: 2%;
}

.full-equipment {
  display: flex;
}

.equipment {
  display: flex;
  flex-direction: column;
  width: 48.125%;
}

.equipment-description {
  display: flex;
  flex: 50px;
}

.customers-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-logo {
  width: 300px;
  margin: 0px 64px;
}

#customer-logo-center {
  border: 1px 0px solid #909090;
  margin: 0px 18px;
}

/*FOOTER*/
footer {
  display: flex;
}

.application {
  margin-right: 60px;
}
.application {
  margin-bottom: 20px;
}

.application p {
  color: #909090;
  border-bottom: 1px solid #909090;
  width: 26.25vw;
  padding-bottom: 13px;
  font-size: 11px;
  margin-top: 34px;
}

.application a {
  color: #ffffff;
  background-color: #383838;
  padding: 19px 115px;
  border-radius: 50px;
}

.contacts {
  font-size: 18px;
}
